:root {
    --font-bold:#000000;
    --font-light:#ffffff;
    --background-main:#fafafa;
    --background-section:#ffffff;
    --border-color:#0000002d;
    --range-input:#3a94fa;
}

.dark {
    --font-bold:#ffffff;
    --font-light:#000000;
    --background-main:#222222;
    --background-section:#000000;
    --border-color:#ffffff;
    --range-input:#000000;
}