:root {
    --font-bold:#000000;
    --font-light:#ffffff;
    --background-main:#fafafa;
    --background-section:#ffffff;
    --border-color:#d3ab1987;
    --range-input:#3a94fa;
    --active-input: rgb(238, 129, 27);
    --thumb-border: rgb(248, 183, 123);
}

.dark {
    --font-bold:#ffffff;
    --font-light:#000000;
    --background-main:#222222;
    --background-section:#000000;
    --border-color:#ffffff;
    --range-input:#000000;
    --active-input: rgb(238, 129, 27);
    --thumb-border: rgb(248, 183, 123);
}